.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.nav__links {
  padding: 0;
  display: flex;
  margin: 0;
  align-items: center;
  list-style: none;
  column-gap: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  transition: color 0.2s ease-in;
}

.nav__link:hover {
  color: #2f80ed;
}
